body{
    background-color: white;
    color : black;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    flex : 1;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.nav-list > li {
    margin: 1% 2%;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
}

.grid{
    flex : 2;
    height: 100vh;
    display: flex;
    margin: 2%;
}
.footer{
    flex : 1;
}

.sidebar{
    flex: 1;
    list-style: none;
    font-size: 1.3em;
    font-weight: 700;
    display: flex;
    height: 400px;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(48,56,97,.2);
}
.card{
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    /* margin: 2%; */
    box-shadow: 0 2px 4px 0 rgba(48,56,97,.2)
}
.sidebar > li {
    margin: 5%;
}

.product-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 6;
    justify-content: space-around;
}


/* 
.gutter > .cell{
    margin: 3% 3%;
    padding: 3%;
}

.grid > .cell{
    background-color: white;
    box-shadow: 5px 5px 10px 0px black;
    flex : 1;
}
.grid{
    display: flex;
    
} */